@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(24.00 100.00% 98.04%);
  --foreground: hsl(346.67 7.96% 22.16%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(346.67 7.96% 22.16%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(346.67 7.96% 22.16%);
  --primary: hsl(11.63 100% 68.63%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(8.57 100.00% 95.88%);
  --secondary-foreground: hsl(9.91 47.33% 47.65%);
  --muted: hsl(15.00 100.00% 96.08%);
  --muted-foreground: hsl(25.00 5.26% 44.71%);
  --accent: hsl(26.11 98.50% 73.92%);
  --accent-foreground: hsl(346.67 7.96% 22.16%);
  --destructive: hsl(355.49 77.58% 56.27%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(14.63 100.00% 91.96%);
  --input: hsl(14.63 100.00% 91.96%);
  --ring: hsl(11.63 100% 68.63%);
  --chart-1: hsl(11.63 100% 68.63%);
  --chart-2: hsl(26.11 98.50% 73.92%);
  --chart-3: hsl(23.86 100.00% 82.75%);
  --chart-4: hsl(16.07 100% 78.04%);
  --chart-5: hsl(9.58 54.84% 57.45%);
  --sidebar: hsl(15.00 100.00% 96.08%);
  --sidebar-foreground: hsl(346.67 7.96% 22.16%);
  --sidebar-primary: hsl(11.63 100% 68.63%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(26.11 98.50% 73.92%);
  --sidebar-accent-foreground: hsl(346.67 7.96% 22.16%);
  --sidebar-border: hsl(14.63 100.00% 91.96%);
  --sidebar-ring: hsl(11.63 100% 68.63%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
  --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
  --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
  --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
}

.dark {
  --background: hsl(336 13.51% 14.51%);
  --foreground: hsl(21.43 35.00% 92.16%);
  --card: hsl(324 9.62% 20.39%);
  --card-foreground: hsl(21.43 35.00% 92.16%);
  --popover: hsl(324 9.62% 20.39%);
  --popover-foreground: hsl(21.43 35.00% 92.16%);
  --primary: hsl(11.63 100% 68.63%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(325 9.38% 25.10%);
  --secondary-foreground: hsl(21.43 35.00% 92.16%);
  --muted: hsl(324 9.62% 20.39%);
  --muted-foreground: hsl(22.22 25.23% 79.02%);
  --accent: hsl(26.11 98.50% 73.92%);
  --accent-foreground: hsl(336 13.51% 14.51%);
  --destructive: hsl(355.49 77.58% 56.27%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(325 9.38% 25.10%);
  --input: hsl(325 9.38% 25.10%);
  --ring: hsl(11.63 100% 68.63%);
  --chart-1: hsl(11.63 100% 68.63%);
  --chart-2: hsl(26.11 98.50% 73.92%);
  --chart-3: hsl(23.86 100.00% 82.75%);
  --chart-4: hsl(16.07 100% 78.04%);
  --chart-5: hsl(9.58 54.84% 57.45%);
  --sidebar: hsl(336 13.51% 14.51%);
  --sidebar-foreground: hsl(21.43 35.00% 92.16%);
  --sidebar-primary: hsl(11.63 100% 68.63%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(26.11 98.50% 73.92%);
  --sidebar-accent-foreground: hsl(336 13.51% 14.51%);
  --sidebar-border: hsl(325 9.38% 25.10%);
  --sidebar-ring: hsl(11.63 100% 68.63%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Ubuntu Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
  --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
  --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
  --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-sora), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Masquer le contenu principal tant que le thème n'est pas prêt */
body:not(.theme-loaded) {
  overflow: hidden;
}

.sticky-left-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: #e5e7eb; /* gray-200 */
}

.sticky-right-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background-color: #e5e7eb;
}